html {
  height: 100%;
  font-size: $font-size;  
}
body {  
  min-width: 320px;
  word-wrap: break-word;
//font-family: ;
//color: ;
//background-color: ;
//background-image: data-uri("");    
  
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.container {
  @include center();  
  @include clearfix();
  // @media $phone {
  //   display: block;
  // }
}

// a {  
//   text-decoration: none;
//   background-color: transparent;
//   &:hover,
//   &:focus {
//     color: $link-color--hover;
//     text-decoration: underline;
//   }
// }