@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal; 

  src: url("../fonts/Lato/Lato Black/lato-bold.woff") format("woff"), url("../fonts/Lato/Lato Black/lato-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: italic; 

  src: url("../fonts/Lato/Lato BlackItalic/lato-blackitalic.woff") format("woff"), url("../fonts/Lato/Lato BlackItalic/lato-blackitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 800;
  font-style: normal; 

  src: url("../fonts/Lato/Lato Heavy/lato-bold.woff") format("woff"), url("../fonts/Lato/Lato Heavy/lato-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 800;
  font-style: italic; 

  src: url("../fonts/Lato/Lato HeavyItalic/lato-bolditalic.woff") format("woff"), url("../fonts/Lato/Lato HeavyItalic/lato-bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal; 

  src: url("../fonts/Lato/Lato Bold/lato-bold.woff") format("woff"), url("../fonts/Lato/Lato Bold/lato-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic; 

  src: url("../fonts/Lato/Lato BoldItalic/lato-bolditalic.woff") format("woff"), url("../fonts/Lato/Lato BoldItalic/lato-bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal; 

  src: url("../fonts/Lato/Lato Semibold/lato-semibold.woff") format("woff"), url("../fonts/Lato/Lato Semibold/lato-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: italic; 

  src: url("../fonts/Lato/Lato SemiboldItalic/lato-semibolditalic.woff") format("woff"), url("../fonts/Lato/Lato SemiboldItalic/lato-semibolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal; 

  src: url("../fonts/Lato/Lato Medium/lato-medium.woff") format("woff"), url("../fonts/Lato/Lato Medium/lato-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: italic; 

  src: url("../fonts/Lato/Lato MediumItalic/lato-mediumitalic.woff") format("woff"), url("../fonts/Lato/Lato MediumItalic/lato-mediumitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal; 

  src: url("../fonts/Lato/Lato Regular/lato-regular.woff") format("woff"), url("../fonts/Lato/Lato Regular/lato-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic; 

  src: url("../fonts/Lato/Lato Italic/lato-italic.woff") format("woff"), url("../fonts/Lato/Lato Italic/lato-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal; 

  src: url("../fonts/Lato/Lato Light/lato-light.woff") format("woff"), url("../fonts/Lato/Lato Light/lato-light.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic; 

  src: url("../fonts/Lato/Lato LightItalic/lato-lightitalic.woff") format("woff"), url("../fonts/Lato/Lato LightItalic/lato-lightitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 200;
  font-style: normal; 

  src: url("../fonts/Lato/Lato Thin/lato-thin.woff") format("woff"), url("../fonts/Lato/Lato Thin/lato-thin.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 200;
  font-style: italic; 

  src: url("../fonts/Lato/Lato ThinItalic/lato-thinitalic.woff") format("woff"), url("../fonts/Lato/Lato ThinItalic/lato-thinitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style: normal; 

  src: url("../fonts/Lato/Lato Hairline/lato-hairline.woff") format("woff"), url("../fonts/Lato/Lato Hairline/lato-hairline.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style: italic; 

  src: url("../fonts/Lato/Lato HairlineItalic/lato-hairlineitalic.woff") format("woff"), url("../fonts/Lato/Lato HairlineItalic/lato-hairlineitalic.woff2") format("woff2");
}

html {
  font-size: 16px; 

  height: 100%;
}

body {
  min-width: 320px;

  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;

  border: none;
}

.container {
  margin-right: auto; 
  margin-left: auto;
}
.container:before,
.container:after {
  display: table; 

  content: "";
}
.container:after {
  clear: both;
}
